.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
  height: 300px;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
  font-family: futura-pt;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    /* padding: 40px 32px; */
    height: 100%;
    padding: 0;
  }
}

.section.hero-container {
  position: relative;
  margin: 0;
}

.hero .full-width {
  width: 100%;
}

.hero .full-width p:first-child{
  margin: 0;

}

.hero .full-width h2 {
  color: #fff;
    font-weight: normal;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: futura-pt;
    font-size: 40px;
    margin: 0;
}

@media only screen and (max-width: 767px) {
  .hero , .hero img , .hero-container .hero-wrapper{
    height: 180px;
    min-height: 180px;
    padding: 0;
  }
  
  .hero .full-width h2 {
    font-size: 24px;
    position: relative;
  }
}