main {
  .teaser-container {
    margin-top: 120px;
    @media (width <= 767px) {
      margin-top: 60px;
    }

    .teaser-content {
      display: flex;
      justify-content: center;
      // align-items: center;
      @media (width <= 767px) {
        flex-direction: column;
      }

      .teaser-content-left {
        width: 43%;
        @media (width <= 767px) {
          width: 100%;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .teaser-content-right {
        width: 57%;
        padding-left: 3%;
        @media (width <= 767px) {
          width: 100%;
          padding: 0;
        }
        h4 {
          font-size: 14px;
          color: #0068d7;
          line-height: 22px;
          text-transform: uppercase;
          font-weight: 600;
          margin-bottom: 10px;
          margin-top: 0;
          font-family: futura-pt-bold, sans-serif;
        }

        h3 {
          font-size: 24px;
          margin: 0;
          font-family: futura-pt-bold, sans-serif;
        }
        p {
          margin-top: 30px;
          font-size: 30px;
          color: #757575;
          letter-spacing: -1px;
          line-height: 42px;
          font-style: italic;
          font-family: futura-pt, sans-serif;
          @media (width <= 767px) {
            font-size: 16px;
            line-height: 1.8;
            margin-top: 15px;
          }
        }
      }
    }
  }
}
