footer {
    /* background-color: var(--light-color); */
    background-color: #231f20;
    font-size: var(--body-font-size-xs);
}

footer .footer > div {
    margin: auto;
    max-width: 1200px;
    padding: 40px 24px 24px;
    display: grid;
    grid-template-columns: 1fr minmax(150px, 300px) 1fr 1fr 1fr;
    gap: 20px;
}

footer .footer p {
    margin: 0;
}

footer .default-content-wrapper > p u,
footer .contact-wrapper div u {
    color: white;
    text-decoration: none;
    position: relative;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
}

footer .default-content-wrapper p,
footer .contact-wrapper p {
    color: #b1b1b1;
    line-height: 28px;
    font-size: 16px;
}

footer .footer u::after,
footer .contact-wrapper u::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    background-color: #0068d7;
    height: 2px;
    width: 58px;
}

footer .section ul {
    display: flex;
    gap: 10px;
}

.copyright-container .copyright img {
    width: 70px;
    height: 40px;
}

.footer .section ol,
.footer .section ul,
.footer .section li {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.footer .section ul li img {
    width: 31px;
    height: 31px;
}

.footer-bottom-strip-container {
    grid-column: 1 / -1; /* Make the bottom strip span all columns */
    border-top: 1px solid #4f4f4f;
    border-bottom: 1px solid #4f4f4f;
    padding: 10px 0;
}

.footer .footer-bottom-strip-container ul {
    display: flex;
    justify-content: center;
    gap: 22px;
    row-gap: 20px;
}

.footer a {
    color: #b1b1b1;
    line-height: 28px;
    font-size: 16px;
    font-family: futura-pt, sans-serif;
}

.footer a:hover {
    color: #ffde00;
    text-decoration: none;
}

.copyright-container {
    grid-column: 1 / -1; /* Make the copyright span all columns */
}

.copyright-container .copyright > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-container .copyright p,
.copyright-container .copyright a,
.copyright-container .copyright a:hover {
    font-size: 12px;
    color: #c2c2c2;
    letter-spacing: 0;
    line-height: 45px;
}

.footer .section .default-content-wrapper > p:first-child,
.footer .section .contact-wrapper div p:first-child {
    margin-bottom: 22px;
}

.footer .section .contact-wrapper p a {
    display: block;
    background-color: unset;
    margin: unset;
    padding: unset;
    text-align: unset;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    border: none;
    color: #fff;
}

.footer .section .contact-wrapper p:last-child a {
    color: unset;
}

@media (width >= 900px) {
    /* footer .footer > div {
    padding: 40px 0 0;
  } */
}

@media (width <= 900px)  {
    footer .footer > div {
        gap: 25px;
        grid-template-columns: 1fr;
        padding: 20px 10px 10px;
    }

    .footer .footer-bottom-strip-container ul {
        flex-wrap: wrap;
    }

    .copyright-container .copyright > div {
        flex-direction: column-reverse;
    }

    .footer a {
        font-size: 14px;
    }
}

@media (480px <= width <= 768px){
  /* @media only screen and (min-width: 480px) and (max-width: 768px) { */
      footer .footer > div {
          grid-template-columns: 1fr 1fr;
      }
}
