.hero-wrapper .breadcrumbs {
  max-width: max-content;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

.hero-wrapper .breadcrumbs ol {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  gap: 1ch;
  background-color: #000000a6;
  padding: 2px 20px;
  align-items: center;
}

/* stylelint-disable-next-line no-descending-specificity */
.hero-wrapper .breadcrumbs ol li {
  padding: 0;
  color: var(--dark-color);
}

.hero-wrapper .breadcrumbs ol li a{
  display: inline-block;
  font-size: 18px;
  color: #fff;
  line-height: 28px;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
}

.hero-wrapper .breadcrumbs ol li:first-child a{
  display: none;
}

.hero-wrapper .breadcrumbs ol li:first-child::before{
  content: '';
  background-image: url("../../icons/home-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  top: 4px;
  display: inline-block;
  position: relative;
}

.hero-wrapper .breadcrumbs ol li:not(:last-child)::after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  margin-left: 4px;
  content: '';
}

/* stylelint-disable-next-line no-descending-specificity */
.hero-wrapper .breadcrumbs ol li[aria-current] {
  opacity: 0.63;
  max-width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  color: #fff;
  line-height: 28px;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
}

